/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f9;
  }
  
  .container {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 600px;
    width: 90%;
  }
  
  h1, h2 {
    color: #333;
  }
  
  p {
    color: #666;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .hidden {
    display: none;
  }
  
  /* Form styles */
  form h2 {
    color: #333;
  }
  
  form input[type="radio"] {
    margin-right: 10px;
  }
  
  form label {
    display: block;
    margin: 10px 0;
    font-size: 16px;
  }
  
  #careerResults ul {
    list-style-type: none;
    padding: 0;
  }
  
  #careerResults li {
    background-color: #f0f8ff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 16px;
  }
  